.ciudad{
    margin: 10px;
    padding: 20px;
    background-color: bisque;
}
.titulo{
    font-size: 2em;
    display: block;
    font-weight: bold;
    }
.temp{
    font-size: 2em;
}
.tipo{
    font-size: 0.8em;
}