
.ciudad{
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 15px;
    padding: 15px;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
}
.titulo{
    font-size: 2em;
    display: block;
    font-weight: bold;
    }
.temp{
    font-size: 2em;
}
.tipo{
    font-size: 0.8em;
}